

/* custom css */



.instagram-link:hover {
    color: white;
    font-weight: bold;
}



.facebook-link:hover {
    color: white;
    font-weight: bold;
    }



.youtube-link:hover {
    color: white;
    font-weight: bold;
}

.pintrest-link:hover {
    color: white;
    font-weight: bold;
    }



.fiverr-link:hover {
    color: white;
    font-weight: bold;
}

.upwork-link:hover {
    color: white;
    font-weight: bold;
}

.linkedin-link:hover {
    color: white;
    font-weight: bold;
}   

.github-link:hover {
    color: white;
    font-weight: bold;
}


